<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list" ng-submit="signup()">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="user.email" placeholder="enter email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password" placeholder="enter password">
                </label>
            </ion-list>
            <button class="button button-stable button-block" type="submit">Sign up</button>
        </form>
    </ion-content>
</ion-view>